<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        
        <joint name="front_left_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>
        <joint name="mid_left_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>
        <joint name="back_left_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>
        <joint name="front_right_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>
        <joint name="mid_right_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>
        <joint name="back_right_wheel_joint">
            <command_interface name="velocity"><dt>0.01</dt></command_interface>
            <state_interface name="velocity"/><state_interface name="position"/>
        </joint>

        <joint name="camera_pan_joint">
            <state_interface name="position"/>
        </joint>
        <joint name="camera_tilt_joint">
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo reference="mid_left_wheel"><mu1>1.0</mu1><mu2>1.0</mu2></gazebo>
    <gazebo reference="mid_right_wheel"><mu1>1.0</mu1><mu2>1.0</mu2></gazebo>
    <gazebo reference="front_left_wheel"><mu1>0.1</mu1><mu2>0.1</mu2></gazebo>
    <gazebo reference="back_left_wheel"><mu1>0.1</mu1><mu2>0.1</mu2></gazebo>
    <gazebo reference="front_right_wheel"><mu1>0.1</mu1><mu2>0.1</mu2></gazebo>
    <gazebo reference="back_right_wheel"><mu1>0.1</mu1><mu2>0.1</mu2></gazebo>

    <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find sentry_bot)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="laser_frame">
        <sensor name="lidar" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <topic>scan</topic>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min><max>12.0</max><resolution>0.01</resolution>
                </range>
            </ray>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <gazebo reference="camera_head">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <topic>camera/image_raw</topic>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image><width>640</width><height>480</height></image>
                <clip><near>0.05</near><far>8.0</far></clip>
            </camera>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

</robot>