<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="mid_left_wheel">
        <mu1 value="0.001"/><mu2 value="0.001"/>
    </gazebo>
    <gazebo reference="mid_right_wheel">
        <mu1 value="0.001"/><mu2 value="0.001"/>
    </gazebo>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find sentry_bot)/config/my_controllers.yaml</parameters>
        </plugin>

        <plugin filename="libignition-gazebo-diff-drive-system.so" name="ignition::gazebo::systems::DiffDrive">
            <left_joint>front_left_wheel_joint</left_joint>
            <left_joint>back_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <right_joint>back_right_wheel_joint</right_joint>
            <wheel_separation>0.23</wheel_separation>
            <wheel_diameter>0.094</wheel_diameter>
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
        </plugin>
    </gazebo>

    <gazebo reference="laser_frame">
        <sensor name="lidar" type="gpu_lidar">
            <pose>0 0 0 0 0 0</pose>
            <topic>scan</topic>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>12.0</max>
                </resolution>
            </ray>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <gazebo reference="camera_head">
        <sensor name="camera" type="camera">
            <pose>0 0 0 0 0 0</pose>
            <topic>camera/image_raw</topic>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip><near>0.05</near><far>8.0</far></clip>
            </camera>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>
</robot>